dist
dist-newstyle
*.swp
*~
Checker-Old
.ghc.environment.x86_64-mingw32-8.6.3
doc/typecheck/*
!doc/typecheck/typing.bib
!doc/typecheck/typing.pdf
!doc/typecheck/typing.tex
Frontend-Old
Types-Old
MatchComp-New.hs
MatchComp-Old.hs
Spill-Old.hs